.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar.logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: blueviolet;
    font-size: 20px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    color: #49557e;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    border:1px solid tomato;
    cursor: pointer;
    transition: 0.8s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.active{
        
        padding-bottom: 1px;
        border-bottom: 2px solid #7e494f;

}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    top: -3px;
    right: -5px;
    border-radius: 5px;
}
